# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Логи и отчеты
*.log
*.tmp
allure-results/
allure-report/
build/reports/

# Пароли и настройки
gradle.properties

# Драйверы
chromedriver.exe
geckodriver.exe

# Временные файлы
*.swp
*.swo
*~

# Папка с SUT
qa-diploma/